# Requirements 

•	Requires any software which can run python such as IDLE OR VS Code.

•	Requires to download discord library from command prompt.(py -3 -m pip install -U discord.py)

•	Requires Discord account (preferably main and alt)

•	Requires private server(optional) and Dyno bot
